Altas.Core/bin/*
Aplicaciones.Core/bin/*
Ausentismo.Core/bin/*
Autorizaciones.Core/bin/*
Bajas/bin/*
CalculoNomina.Core/bin/*
Catalogos.Core/bin/*
Complementos.Core/bin/*
Conceptos.Core/bin/*
Configuracion.Core/bin/*
Data.Obj/bin/*
Departamento.Core/bin/*
DiasFestivos.Core/bin/*
Direccion.Core/bin/*
Empleados.Core/bin/*
Empresas.Core/bin/*
Estados.Core/bin/*
Expediente.Core/bin/*
Exportacion.Core/bin/*
FactorDescuento.Core/bin/*
Factores.Core/bin/*
Faltas.Core/bin/*
Formulas.Core/bin/*
Historial.Core/bin/*
Imagen.Core/bin/*
Imss.Core/bin/*
Incapacidad.Core/bin/*
Incidencias.Core/bin/*
Infonavit.Core/bin/*
Modificaciones.Core/bin/*
Movimientos.Core/bin/*
Nominas/bin/*
Perfil.Core/bin/*
Periodos.Core/bin/*
ProgramacionConcepto.Core/bin/*
Puestos.Core/bin/*
Reingreso.Core/bin/*
Salario.Core/bin/*
SatCatalogos.Core/bin/*
satTrabajadorNomina.Core/bin/*
TablaIsr.Core/bin/*
TablaSubsidio.Core/bin/*
Usuarios.Core/bin/*
Vacaciones.Core/bin/*
Altas.Core/obj/*
Aplicaciones.Core/obj/*
Ausentismo.Core/obj/*
Autorizaciones.Core/obj/*
Bajas/obj/*
CalculoNomina.Core/obj/*
Catalogos.Core/obj/*
Complementos.Core/obj/*
Conceptos.Core/obj/*
Configuracion.Core/obj/*
Data.Obj/obj/*
Departamento.Core/obj/*
DiasFestivos.Core/obj/*
Direccion.Core/obj/*
Empleados.Core/obj/*
Empresas.Core/obj/*
Estados.Core/obj/*
Expediente.Core/obj/*
Exportacion.Core/obj/*
FactorDescuento.Core/obj/*
Factores.Core/obj/*
Faltas.Core/obj/*
Formulas.Core/obj/*
Historial.Core/obj/*
Imagen.Core/obj/*
Imss.Core/obj/*
Incapacidad.Core/obj/*
Incidencias.Core/obj/*
Infonavit.Core/obj/*
Modificaciones.Core/obj/*
Movimientos.Core/obj/*
Nominas/obj/*
Perfil.Core/obj/*
Periodos.Core/obj/*
ProgramacionConcepto.Core/obj/*
Puestos.Core/obj/*
Reingreso.Core/obj/*
Salario.Core/obj/*
SatCatalogos.Core/obj/*
satTrabajadorNomina.Core/obj/*
TablaIsr.Core/obj/*
TablaSubsidio.Core/obj/*
Usuarios.Core/obj/*
Vacaciones.Core/obj/*
